<!DOCTYPE html>
<html>
  <head><title>Consent App</title></head>
  <body>
    <p>
      Client <strong>{{ consent.clientId }}</strong> has requested access to
      the following scopes:
      <strong>{{ consent.requestedScopes | join(", ") }}</strong>.
    </p>
    <p>
      This is a <em>test</em> consent app which will grant all requested scopes
      and set the subject to an authenticated user. Specify their username
      below.
    </p>
    <form method="post" action="">
      <input type="hidden" name="consent" value="{{ consent.id }}">
      Username:
      <input type="text" name="username" value="test0003">
      <input type="submit" value="Log in">
    </form>
  </body>
</html>
